* {/*seletor universal, pega tudo*/
    margin: 0;
}

body {
    color: white;  
    height: 100vh; /*divide atela em pedacinhos*/
}

:root {
    font-size: 62.5%
}

body, input, button, textarea, select{
     font: 400 1.8rem/1 'nunito', sans-serif;
}